# In Python these Data types are most widely used
* ### <u>Numeric Data Type</u>  - Numeric variables take values which are numbers like 10, 10.15,5+ 3j, 0, Inf. These includes Integer, Float and Complex numbers.


* ### <u>String </u>  - Strings are used in Python to store text informations.


* ### <u>Boolean</u>  - Boolean data types gives only True or False. There can only be two outputs possible.

* ### <u>Datetime </u> - These variables are used to store date and time values such as 2022-09-06 12:23:54

# <u> Writing Integers and Floats </u>

## Performing Basic Arithmatic of Numerical Data Types

In [2]:
# Addition
#5+1
10+9

19

In [6]:
#he 5 ani 5 add karat aahe
5+5

10

In [7]:
# Subtraction
#10-5
2-8

-6

In [8]:
# Multiplication
3*2

6

In [9]:
# Division
7/2

3.5

In [12]:
# Floor Division
5//2

2

In [16]:
# Exponentiation
#5**5
3**3

27

In [ ]:
# Modulus
7%2 # remainder

1

In [18]:
# Order of Operations followed in Python BODMAS rule.
4 + 10 * 10 + 2

106

In [14]:
4+10*(10+5) #154

154

In [20]:
# When representing large numbers Scientific Notationisas follows10^7
1E4  # ^ operator,.. ha kai karto

10000.0

## Writing about numbers!

* There are many different types of numbers are used in Python such as integers (int type), real numbers (float type), complex numbers. 

* Integers can be written as whole numbers, positive or negative. For example: 5 and -2 are examples of integers.


* Floating point numbers in Python have a decimal point in them, or use an exponential (E) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 5E6 (5 times 10 to the power of 6) is also an example of a floating point number in Python.

### The table below summarises the two numeric data types, Integers and Floats:
<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

## <u> What is a Variable? <u/>

###  VARIABLES are entities which help us store information and retrieve it later. 

 * A variable with a fixed name can store information of nature like numeric, textual, boolean etc.
 
 * The type of data contained in a variable can be changed.

In [19]:
# You can store numbers in variables.
# The standard rule is you write the variable name followed by = sign and the value it will take

x=5

NameError: name 'X' is not defined

In [25]:
y=2 # bemaan
y=5 # paila maan
y*3

15

In [26]:
print(y)

5

### Basic Arithmetic operations we can do on x and y. Later we will be doing operations on thousands of such numbers in one go!

In [32]:
# Addition
x=4
y=6.4

z = x+y

print('Addition of x and y = ',z)

Addition of x and y =  10.4

In [47]:
type((2,2)) # Data type sangto

tuple

* ### Note: A variable can be assigned different values and data types and it will store the last value assigned

In [16]:
# Subtraction
z = x-y

# Use the in-built print function to print the variable
print(z)

-2.4000000000000004

In [17]:
# Printing the memory address the variable z occupies
print(hex(id(z)))

0x4fc77e0

In [18]:
 # Find out the data type of variable z
type(y)

float

In [19]:
# Multiplication
z = x*y

print(z)  # Print the variable z
type(z)   # Get the data type of variable z

25.6

float

In [20]:
# Division
z = x/y

print(z) # Print the variable z
type(z)  # Get the data type of variable z

0.625

float

In [21]:
# Floor division
z= x//y  #  Remember x=5, y=6.4
print(z)

0.0

## Note:Shouldn't it be 0.75??
* The reason we get this result is because we are using "*floor*" division. The <code>//</code> operator (two forward slashes) is the mathematical equivalent of doing [0.75] which returns the greatest integer less than or equal to 0.75

In [22]:
# Modulo operator
y=5
x=3

z = y%x       # Modulus is denoted by % sign
print(z)

2

In [23]:
# Using powers and exponents

z = x**y    # We did not even need to store it in another variable nor use print command
print(z)

243

In [25]:
# BODMAS rule
some_operation =(x+y)/y + (y-x)*x     

print(some_operation)
type(some_operation)

7.6

float

In [26]:
# How to Store large integer numbers
avogadro = 6.22E23

print(avogadro)

6.22e+23

##  Rules for naming a variable in Python

* Variables names must start with a letter or an underscore like _ product , product_


* The remainder of your variable name may consist of letters, numbers and underscores


* spacy1, pyThon,machine_learning are some valid variable names


* Names are case sensitive.


* case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.

In [27]:
1oNone = 4

SyntaxError: invalid syntax (2480654070.py, line 1)

In [28]:
onone_abc_1 = 5

In [29]:
list = 5

In [32]:
print(list)
print(onone_abc_1)

5
5

* Names cannot begin with a number. Python will throw an error when you try to do so 


* Names can not contain spaces, use _ instead


* Names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
      
      
* It is considered best practice that names are lowercase with underscores

# <u>Boolean Variables </u>

* A Boolean variable only takes two values either True or False. It is used for comparisons

## Comparison Operators 

* These operators will allow us to compare variables and output a Boolean value (True or False). 


* If you have any sort of background in Math, these operators should be very straight forward.


* First we'll present a table of the comparison operators and then work through some examples:


* In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

* Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [33]:
# Set object to be a boolean
boolean_variable = False
type(boolean_variable)

bool

In [34]:
#Show
boolean_variable

False

### Equal

In [35]:
2 == 3

False

In [36]:
2==0

False

* <u> Note that <code>==</code> is a comparison operator, while <code>=</code> is an assignment operator. </u>

### Not equal

In [37]:
2!=0

True

In [ ]:
2!=2

False

### Greater than

In [38]:
a=3
b=2
a> b

True

In [39]:
a == 3

True

In [40]:
b > 4

False

### Less than

In [41]:
10 < 45

True

In [42]:
4 < 2

False

### Greater than or equal to

In [43]:
3 >=2

True

In [44]:
4 >= 4

True

### Less than or equal to

In [45]:
3 <= 0

False

In [46]:
1 <= 2

True

In [47]:
a =3+4j

In [48]:
print(a)

(3+4j)

In [50]:
type(a)

complex

In [51]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [53]:
print(a.real)

3.0

In [54]:
print(a.imag)

4.0

In [55]:
a**2

(-7+24j)

In [29]:
"\U0001F600"

'😀'